h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}


div, span, p, h1, h2 {
    caret-color: transparent;
}

#popup-window {
  position: fixed;
  width: 300px;
  height: 200px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.circle{
  border-radius: 50%;
}

.gifts{
  display: none;
}

/* letters */
.letters {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  flex-direction: column;
  display: none;
}


.main {
  flex: 1;
}


.us {
  height: 200px;
}

.package {
  height: 200px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}


@media (max-width: 680px) {

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
